@model PPSI.Nowy_folder.Player

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MatchId" class="control-label"></label>
                <input asp-for="MatchId" class="form-control" />
                <span asp-validation-for="MatchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamId" class="control-label"></label>
                <input asp-for="TeamId" class="form-control" />
                <span asp-validation-for="TeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChampionId" class="control-label"></label>
                <input asp-for="ChampionId" class="form-control" />
                <span asp-validation-for="ChampionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SummonerId" class="control-label"></label>
                <input asp-for="SummonerId" class="form-control" />
                <span asp-validation-for="SummonerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipmentId" class="control-label"></label>
                <input asp-for="EquipmentId" class="form-control" />
                <span asp-validation-for="EquipmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kills" class="control-label"></label>
                <input asp-for="Kills" class="form-control" />
                <span asp-validation-for="Kills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deaths" class="control-label"></label>
                <input asp-for="Deaths" class="form-control" />
                <span asp-validation-for="Deaths" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asists" class="control-label"></label>
                <input asp-for="Asists" class="form-control" />
                <span asp-validation-for="Asists" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cs" class="control-label"></label>
                <input asp-for="Cs" class="form-control" />
                <span asp-validation-for="Cs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gold" class="control-label"></label>
                <input asp-for="Gold" class="form-control" />
                <span asp-validation-for="Gold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

