@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<style>
    body{
        background-image: url("https://images7.alphacoders.com/128/1284380.png") !important;
    }

    body:bofore {
        background-image: url("https://images7.alphacoders.com/128/1284380.png") !important;
    }


</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card" style="background-color: rgba(0, 0, 0, 0.7);">
                    <div class="card-header text-center">
                    <h1 class="text-danger">@Localizer["Error"]</h1>
                    <h2 class="text-danger">@Localizer["ErrorMessage"]</h2>
                    </div>

                    
                  </div>      
            </div>
        </div>
    </div>
</body>
</html>
