.champ-icon {
    height: auto;
    width: 270px;
    padding: 30px;
}

.checkmark {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    left: -9999px; /* Moves the input out of view */
}

.checkmarkPhoto img {
    cursor: pointer;
    opacity: 70%;
    width: 35%;
    height: auto;
}

.checkmark:checked + .checkmarkPhoto img {
    opacity: 120%;

}