/* _content/PPSI3/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-vu5m76yqoq] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-vu5m76yqoq] {
  color: #0077cc;
}

.btn-primary[b-vu5m76yqoq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-vu5m76yqoq], .nav-pills .show > .nav-link[b-vu5m76yqoq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-vu5m76yqoq] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-vu5m76yqoq] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-vu5m76yqoq] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-vu5m76yqoq] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-vu5m76yqoq] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;

}
/* _content/PPSI3/Views/ChampionsList/Index.cshtml.rz.scp.css */
.champ-icon[b-v4ccfsvnmc] {
    height: auto;
    width: 180px;
    padding: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.champ-icon:hover[b-v4ccfsvnmc]{
    transform: scale(1.2);
}
body[b-v4ccfsvnmc] {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.content-wrapper[b-v4ccfsvnmc] {
    padding: 20px;
    border-radius: 10px;
}

body[b-v4ccfsvnmc] {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body[b-v4ccfsvnmc]::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(10px);
    z-index: -1;
}

.content-wrapper[b-v4ccfsvnmc] {
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
/* _content/PPSI3/Views/Home/BestChampionAgainst.cshtml.rz.scp.css */
.champ-icon[b-prv23gjv2m] {
    height: auto;
    width: 270px;
    padding: 30px;
}

.checkmark[b-prv23gjv2m] {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    left: -9999px; /* Moves the input out of view */
}

.checkmarkPhoto img[b-prv23gjv2m] {
    cursor: pointer;
    opacity: 70%;
    width: 50%;
    height: auto;
}

.checkmark:checked + .checkmarkPhoto img[b-prv23gjv2m] {
    opacity: 120%;
}


.content-wrapper[b-prv23gjv2m] {
    padding: 20px;
    border-radius: 10px;
}

body[b-prv23gjv2m] {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



.content-wrapper[b-prv23gjv2m] {
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
a[b-prv23gjv2m] {
    background-color: rgba(0, 0, 0, 0.7);
}
/* _content/PPSI3/Views/Home/index.cshtml.rz.scp.css */
namespace PPSI3.Views.Home
.champ-icon[b-h5q8u75aal] {
    height: auto;
    width: 270px;
    padding: 30px;
}

.checkmark[b-h5q8u75aal] {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    left: -9999px; /* Moves the input out of view */
}

.checkmarkPhoto img[b-h5q8u75aal] {
    cursor: pointer;
    opacity: 70%;
    width: 35%;
    height: auto;
    transition: all 0.15s ease;
}

.checkmark:checked + .checkmarkPhoto img[b-h5q8u75aal] {
    opacity: 120%;
    transform: scale(1.4);
}

.checkmarkPhoto img:hover[b-h5q8u75aal] {
    transform: scale(1.4);
}
/* _content/PPSI3/Views/ItemsList/Index.cshtml.rz.scp.css */
.champ-icon[b-ji7s7oob2z] {
    height: auto;
    width: 180px;
    padding: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .champ-icon:hover[b-ji7s7oob2z] {
        transform: scale(1.2);
    }

body[b-ji7s7oob2z] {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.content-wrapper[b-ji7s7oob2z] {
    padding: 20px;
    border-radius: 10px;
}


body[b-ji7s7oob2z] {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body[b-ji7s7oob2z]::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(10px);
    z-index: -1;
}

.content-wrapper[b-ji7s7oob2z] {
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}


/* _content/PPSI3/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-iw3xuayczt] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-iw3xuayczt] {
  color: #0077cc;
}

.btn-primary[b-iw3xuayczt] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-iw3xuayczt], .nav-pills .show > .nav-link[b-iw3xuayczt] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-iw3xuayczt] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-iw3xuayczt] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-iw3xuayczt] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-iw3xuayczt] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-iw3xuayczt] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
