.champ-icon[b-2n4h1zs7cd] {
    height: auto;
    width: 270px;
    padding: 30px;
}

.checkmark[b-2n4h1zs7cd] {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    left: -9999px; /* Moves the input out of view */
}

.checkmarkPhoto img[b-2n4h1zs7cd] {
    cursor: pointer;
    opacity: 70%;
    width: 35%;
    height: auto;
}

.checkmark:checked + .checkmarkPhoto img[b-2n4h1zs7cd] {
    opacity: 120%;

}