@model PPSI.Nowy_folder.Equipment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Equipment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Slot1" class="control-label"></label>
                <input asp-for="Slot1" class="form-control" />
                <span asp-validation-for="Slot1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slot2" class="control-label"></label>
                <input asp-for="Slot2" class="form-control" />
                <span asp-validation-for="Slot2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slot3" class="control-label"></label>
                <input asp-for="Slot3" class="form-control" />
                <span asp-validation-for="Slot3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slot4" class="control-label"></label>
                <input asp-for="Slot4" class="form-control" />
                <span asp-validation-for="Slot4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slot5" class="control-label"></label>
                <input asp-for="Slot5" class="form-control" />
                <span asp-validation-for="Slot5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BootsId" class="control-label"></label>
                <input asp-for="BootsId" class="form-control" />
                <span asp-validation-for="BootsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrinketId" class="control-label"></label>
                <input asp-for="TrinketId" class="form-control" />
                <span asp-validation-for="TrinketId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerId" class="control-label"></label>
                <input asp-for="PlayerId" class="form-control" />
                <span asp-validation-for="PlayerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

