.champ-icon[b-prv23gjv2m] {
    height: auto;
    width: 270px;
    padding: 30px;
}

.checkmark[b-prv23gjv2m] {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    left: -9999px; /* Moves the input out of view */
}

.checkmarkPhoto img[b-prv23gjv2m] {
    cursor: pointer;
    opacity: 70%;
    width: 50%;
    height: auto;
}

.checkmark:checked + .checkmarkPhoto img[b-prv23gjv2m] {
    opacity: 120%;
}


.content-wrapper[b-prv23gjv2m] {
    padding: 20px;
    border-radius: 10px;
}

body[b-prv23gjv2m] {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



.content-wrapper[b-prv23gjv2m] {
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
a[b-prv23gjv2m] {
    background-color: rgba(0, 0, 0, 0.7);
}